<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>비밀번호 변경</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>비밀번호 변경</h1>

    <form th:action="@{/passwordChange}" method="post" th:object="${form}" name="passwordChangeForm">
        <div class="form-group">
            <label for="originPassword" class="form-label">현재 비밀번호</label>
            <input type="password" class="form-control" id="originPassword"
                   th:field="*{originPassword}" placeholder="현재 비밀번호" required>
        </div>
        <div class="form-group">
            <label for="newPassword" class="form-label">새 비밀번호</label>
            <input type="password" class="form-control" id="newPassword"
                   th:field="*{newPassword}" placeholder="새 비밀번호" required>
            <span class="invalid-feedback" id="newPasswordWarning"></span>
        </div>
        <div class="form-group">
            <label for="newPasswordCheck" class="form-label">새 비밀번호 확인</label>
            <input type="password" class="form-control" id="newPasswordCheck"
                   th:field="*{newPasswordCheck}" placeholder="새 비밀번호 확인" required>
            <span class="invalid-feedback" id="newPasswordCheckWarning"></span>
        </div>
        <button type="button" onclick="validCheck()" class="btn btn-primary">비밀번호 변경</button>
    </form>
</div>

<script>
    const validCheck = () => {
        const originPassword = document.getElementById("originPassword");
        const newPassword = document.getElementById("newPassword");
        const newPasswordWarning = document.getElementById("newPasswordWarning");
        const newPasswordCheck = document.getElementById("newPasswordCheck");
        const newPasswordCheckWarning = document.getElementById("newPasswordCheckWarning");

        const regPassword = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{4,16}$/;
        if (regPassword.test(newPassword.value) != true) {
            newPassword.classList.add('is-invalid');
            newPasswordWarning.innerText = "새 비밀번호는 4글자 이상 16글자 이하의 영문, 숫자, 특수문자의 조합이여야 합니다.";
            return false;
        } else {
            newPassword.className = 'form-control is-valid';
            newPasswordWarning.innerText = "";
        }

        if (regPassword.test(newPasswordCheck.value) != true) {
            newPasswordCheck.classList.add('is-invalid');
            newPasswordCheckWarning.innerText = "새 비밀번호 확인은 4글자 이상 16글자 이하의 영문, 숫자, 특수문자의 조합이여야 합니다.";
            return false;
        } else {
            newPasswordCheck.className = 'form-control is-valid';
            newPasswordCheckWarning.innerText = "";
        }

        if (newPassword.value === originPassword.value) {
            newPassword.classList.add('is-invalid');
            newPasswordWarning.innerText = "새 비밀번호와 기존 비밀번호가 일치합니다.";
            return false;
        } else {
            newPassword.className = 'form-control is-valid';
            newPasswordWarning.innerText = "";
        }

        if (newPassword.value != newPasswordCheck.value) {
            newPassword.classList.add('is-invalid');
            newPasswordWarning.innerText = "새 비밀번호와 새 비밀번호 확인이 일치하지 않습니다.";
            newPasswordCheck.classList.add('is-invalid');
            newPasswordCheckWarning.innerText = "새 비밀번호와 새 비밀번호 확인이 일치하지 않습니다.";
            return false;
        } else {
            newPassword.className = 'form-control is-valid';
            newPasswordWarning.innerText = "";
            newPasswordCheck.className = 'form-control is-valid';
            newPasswordCheckWarning.innerText = "";
        }

        document.passwordChangeForm.submit();

    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>