<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <ul>
        <li th:text="${user.getId()}"></li>
        <li th:text="${user.getName()}"></li>
        <li th:text="${user.getEmail()}"></li>
        <li th:text="${user.getRole()}"></li>
    </ul>

    <div th:if="${userSeq == user.getUserSeq() && authenticated}">
        <button type="button" onclick="location.href='/user/passwordChange'">비밀번호 변경</button>
        <button type="button" onclick="location.href='/user/delete'">회원 탈퇴</button>
    </div>

</body>
</html>