<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.boardfinaltemplate.repository.comments.CommentQueryRepository">

    <!--입력받은 board_seq을 가지는 comment의 row와 users를 join하여 return-->
    <select id="getCommentWithUserDtoListByBoardSeq" parameterType="int"
            resultType="com.study.boardfinaltemplate.dto.comments.CommentWithUserDto">

        SELECT
            C.comment_seq,
            C.date_created,
            C.date_updated,
            C.content,
            U.user_seq,
            U.id AS userId
        FROM (
            SELECT *
            FROM comments
            WHERE board_seq = #{boardSeq}
         ) AS C
        LEFT JOIN users AS U
            ON C.user_seq = U.user_seq;

    </select>

</mapper>
