<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Register</h1>

    <form th:action="@{/registerUser}" method="post" th:object="${form}" name="registerForm">
        <div class="form-group">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="이름" required>
            <span class="invalid-feedback" id="nameWarning"></span>
        </div>
        <div class="form-group">
            <label for="id" class="form-label">아이디</label>
            <input type="text" class="form-control" id="id" th:field="*{id}" placeholder="아이디" required>
            <span class="invalid-feedback" id="idWarning"></span>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="email" required>
            <span class="invalid-feedback" id="emailWarning"></span>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password"
                   th:field="*{password}" placeholder="비밀번호" required>
            <span class="invalid-feedback" id="passwordWarning"></span>
        </div>
        <div class="form-group">
            <label for="passwordCheck" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control" id="passwordCheck"
                   placeholder="비밀번호 확인" required>
            <span class="invalid-feedback" id="passwordCheckWarning"></span>
        </div>
        <button type="button" onclick="validCheck()" class="btn btn-primary">회원 가입</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    const validCheck = () => {
        //TODO 순차적 체크 말고 전체 체크로 수정
        const name = document.getElementById("name");
        const nameWarning = document.getElementById("nameWarning");
        const id = document.getElementById("id");
        const idWarning = document.getElementById("idWarning");
        const email = document.getElementById("email");
        const emailWarning = document.getElementById("emailWarning");
        const password = document.getElementById("password");
        const passwordWarning = document.getElementById("passwordWarning");
        const passwordCheck = document.getElementById("passwordCheck");
        const passwordCheckWarning = document.getElementById("passwordCheckWarning");

        if (name.value.length < 2 || name.value.length > 10) {
            name.classList.add('is-invalid');
            nameWarning.innerText="이름은 2글자에서 10글자 사이여야 합니다."
            return false;
        }
        else{
            name.className = 'form-control is-valid';
            nameWarning.innerText=""
        }

        if (id.value.length < 3 || id.value.length > 10) {
            id.classList.add('is-invalid');
            idWarning.innerText="아이디는 3글자에서 10글자 사이여야 합니다."
            return false;
        }
        else{
            const params = {
                id: id.value
            }
            $.ajax({
                type: "POST",
                url: "/identifyCheck",
                data: params,
                success: (data) => {
                    console.log(data);
                    if (data["valid"] == false) {
                        id.classList.add('is-invalid');
                        idWarning.innerText="이미 사용중인 아이디입니다."
                        return false;
                    }
                },
                error: (error) => {
                    console.log(error);
                }
            })
            id.className = 'form-control is-valid';
            idWarning.innerText=""
        }

        var regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
        if (regEmail.test(email.value) != true) {
            email.classList.add('is-invalid');
            emailWarning.innerText="이메일 형식이 아닙니다."
            return false;
        } else {
            const params = {
                email: email.value
            }
            $.ajax({
                type: "POST",
                url: "/emailCheck",
                data: params,
                success: (data) => {
                    console.log(data);
                    if (data["valid"] == false) {
                        email.classList.add('is-invalid');
                        emailWarning.innerText="이미 가입된 이메일입니다."
                        return false;
                    }
                },
                error: (error) => {
                    console.log(error);
                }
            });
            email.className = 'form-control is-valid';
            emailWarning.innerText=""
        }


        var regPassword = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{4,16}$/;
        if (regPassword.test(password.value) != true) {
            password.classList.add('is-invalid');
            passwordWarning.innerText = "비밀번호는 4글자 이상 16글자 이하의 영문, 숫자, 특수문자의 조합이여야 합니다.";
            return false;
        } else {
            password.className = 'form-control is-valid';
            passwordWarning.innerText = "";
        }

        if (password.value != passwordCheck.value) {
            passwordCheck.classList.add('is-invalid');
            passwordCheckWarning.innerText = "비밀번호와 일치하지 않습니다.";
            return false;
        } else {
            passwordCheck.className = 'form-control is-valid';
            passwordCheckWarning.innerText = "";
        }

        document.registerForm.submit();
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>